.main-footer {
  background-color: $footerBG;
  display: flex;
  padding: 100px;
  flex-direction: column;
  footer {
    display: flex;
    justify-content: space-between;
    .footer-info {
      display: flex;
      width: 379px;
      height: 72px;
      font-size: 16px;
      margin-right: 80px;
    }
    .contact-info {
      margin-right: 140px;
      .phone {
        margin-bottom: 16px;
      }
      .phone,
      .email {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    nav {
      display: flex;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .first-nav {
        margin-right: 80px;
      }
      .second-nav {
        margin-right: 116px;
      }
    }
  }
}
