header {
  background-color: $introBG;
  width: 100%;
  .main-header {
    display: flex;
    width: 90%;
    height: 51px;
    justify-content: space-between;
    margin: 0 auto;
    nav {
      ul {
        display: flex;
        list-style: none;
        color: $neutral;
        li {
          a {
            padding: 0.5rem 1rem;
          }
          cursor: pointer;
        }
      }
    }
  }
}
