header {
  padding: 74px 80px;
  background-color: $introBG;

  .main-header {
    display: flex;
    width: 1279px;
    height: 51px;
    justify-content: space-between;
    margin: 0 auto;
    nav {
      ul {
        display: flex;
        list-style: none;
        // gap: 62px;
        color: $neutral;
        li {
          a {
            padding: 1rem 31px;
          }
          cursor: pointer;
        }
      }
    }
  }
}
