.review-list {
  width: 1180px;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  .review-preview {
    flex-basis: 360px;
    height: 200px;
    background-color: #202a3c;
    padding: 40px 25px;
    border-radius: 8px;

    .from {
      display: flex;
      align-items: center;
      width: 116px;
      .person {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 8px;
        h2 {
          font-size: 10px;
          margin: 0;
          margin-bottom: 2px;
        }
        h3 {
          font-size: 7px;
          margin: 0;
        }
      }
      img {
        border-radius: 50%;
        width: 24px;
        height: 24px;
      }
    }
  }
}
